body {
  margin: 0;
  font-family: Arial;
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  background: rgba(0,0,0,0.7);
  padding: 50px;
  text-align: center;
  border-radius: 20px;
}

.logo {
  width: 130px;
  border-radius: 50%;
}

/* SECTIONS */
.section {
  padding: 80px;
  text-align: center;
}

.light {
  background: orange;
  color: black;
}

.dark {
  background: rgba(0,0,0,0.8);
  color: white;
}

/* SLIDER */
.slider {
  display: flex;
  width: 100%;
}

.slider img {
  width: 25%;
}

/* SERVICES */
.services {
  list-style: none;
  font-size: 22px;
}

/* GALLERY */
.gallery img {
  width: 220px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.4s;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* CONTACT */
.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 30px;
  background: black;
  color: white;
  border: none;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}
